body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }


// login-bg-color
.login-bg-color {
  background: rgb(171, 212, 238);
}

// HomePage-All
.allweb {
  font-weight: 500;
  font-family: Didot, serif;
  line-height: 1.5em;
}
.target-fix {
  position: relative;
  padding-top: 66px;
  margin-top: -66px;
}
.custom-padding {
  padding-top: 200px;
  padding-bottom: 200px;
}
.custom-color-black {
  background-color:black;
}

//mixin-scope lighten-color-box(row)
$colorDeepRed: #c50d31;
$colorWhite: #ffffff;
$colorLightRed: #ed2a32;
$colorDeepBlue: #032666;
$colorMiddleBlue: #0a539b;
$colorLightBlue: #0e6ca6;
$colorYellow: #fdcc2f;
@mixin setBlockColor($color,$color2) {
  background-color: transparent;
  box-shadow: 0px 0px 5px $colorWhite;
  transition: 0.8s;
  color: white;
  cursor: pointer;
  &:nth-child(1){
    &:before {
      content: 'Iceland';
      opacity: 0.7;
      font-weight: bold;
    }
  };
  &:nth-child(2){
    &:before {
      content: 'Norway';
      opacity: 0.7;
      font-weight: bold;
    }
  };
  &:nth-child(3){
    &:before {
      content: 'Finland';
      opacity: 0.7;
      font-weight: bold;
    }
  };
  &:nth-child(4){
    &:before {
      content: 'Danmark';
      opacity: 0.7;
      font-weight: bold;
    }
  };
  &:nth-child(5){
    &:before {
      content: 'Sweden';
      opacity: 0.7;
      font-weight: bold;
    }
  }
  &:hover {
    transform: translateY(-5px);
    background: linear-gradient(left, $color 0%, $color2 100%);
  }
}

@mixin size($w,$h:$w) {
  width: $w;
  height: $h;
  border-radius: 2px;
}
.color-box {
  @include size(auto,50px);
  transition:0.5s;
  &.color-box1 {
    @include setBlockColor($colorDeepRed,$colorMiddleBlue);
    // transform: translate(20px,20px) rotate(30deg);
  }
  &.color-box2 {
    @include setBlockColor($colorDeepBlue,$colorLightRed);
    // transform: translate(30px,-10px) rotate(-30deg);
  }
  &.color-box3 {
    @include setBlockColor($colorWhite,$colorDeepBlue);
    // transform: translate(50px,20px) rotate(40deg);
  }
  &.color-box4 {
    @include setBlockColor($colorDeepRed,$colorWhite);
    // transform: translate(60px,-10px) rotate(-10deg);
  }
  &.color-box5 {
    @include setBlockColor($colorLightBlue,$colorYellow);
    // transform: translate(80px,-10px) rotate(-45deg);
  }
}


//light-box-picture-set
.bg-color {
  background-color: rgb(13, 13, 14);
}
.aurora-picture-border {
  border: 1px solid rgb(153, 151, 151);
  box-sizing: border-box;
}
.input-style {
  opacity: 0.6;
  outline:none;
  background-color: transparent;
  border: none;
  width: 95%;
  border-bottom: 1px solid rgb(8, 60, 77);
}
::placeholder {
  color: rgb(233, 255, 252);
}
.font-opacity {
  opacity: 0.8;
}


//parallax-scrolling
.Parallax-Scrolling {
  background-image: url(https://images.unsplash.com/photo-1528419452013-6f87ceb89925?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1355&q=80);
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.magin-gutter {
  margin-top: 250px;
}
.bg-cover {
  background-size: cover;
  background-position: center center;
}


//footer-social-icon-all
.social-font-color {
  color: white;
  opacity: 0.6;
  font-weight: 900;
  font-size: 12px;
}
.icon-email,.icon-phone,.icon-home {
  transition: 1s;
}
.web-footer-content {
  opacity: 0.4;
  transition: 1s;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
    .icon-email {
      color: rgb(34, 143, 216);
    };
    .icon-phone {
      color: rgb(27, 189, 95);
    };
    .icon-home {
      color: rgb(245, 96, 27);
    }
  }
}
.web-footer-social-icon {
  width: 65px;
  position: relative;
  transition: all 1s;
}
.web-footer-social-icon:hover {
  /* 先設定漸層背景色
    漸層背景色套用到文字上
    把預設文字顏色變為透明
    旋轉360度 */
  background: -webkit-linear-gradient(top, #70b3f3 0, #335eee 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: rotate(360deg);
}




//animated scope
.animated {
  opacity: 0;
  transition: 2s;
  transform: translateY(70px);
}
.animated-2 {
  opacity: 0;
  transition: 1s;
  transform: translateX(70px);
  transition-delay: 1s;
}
.animated-3 {
  opacity: 0;
  transition: 3s;
  transform: translateY(100px);
  transition-delay: 3s;
}
.animated-4 {
  opacity: 0;
  transition: 1s;
  transform: translateX(-100px);
  transition-delay: 1s;
}
.animated-5 {
  opacity: 0;
  transition: 2s;
  transform: translateX(-100px);
  transition-delay: 1s;
}
.fadeIn {
  opacity: 1;
  transform: translateY(0px);
}
.bg-image {
  background-image:url(https://images.unsplash.com/photo-1485646485012-f09e6a19d9c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)
}


//shopping-page
.card-hover-move {
  overflow: hidden;
  transition: 0.5s;
  &:hover {
    transform: translateY(-5px);
    background-color: white;
  }
}
.shopping-bgc {
  background-color: black;
}

//cart-icon-set
.cartList {
  list-style: none;
}
.fixed-control {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  z-index: 100;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.5s;
}
.fixed-control:hover {
  opacity: 1;
  transform: scale(1.1);
}

.fadeIn-2 {
  background-color: #fff;
}

//HomePage-all-------------------------------start
//HomePage 9x9 card change background
.picture-background-1 {
  background-color: black;
  color: rgba(white,0.8);
  transition: 0.5s;
  &:hover {
    &:nth-child(1){
      background-image: url(https://i.pinimg.com/564x/5f/94/0f/5f940fc70b1191f8c66b9e3ea8bed71e.jpg);
    };
    &:nth-child(2){
      background-image: url(https://i.pinimg.com/564x/b0/ab/7c/b0ab7cd9bff1dd98df515f8ad27e0d75.jpg)
    };
    &:nth-child(3){
      background-image: url(https://images.unsplash.com/photo-1546199810-1a7e08e0bcac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)
    };
  }
}
.picture-background-2 {
  background-color: #474444;
  color: rgba(white,0.8);
  transition: 0.5s;
  &:hover {
    &:nth-child(1){
      background-image: url(https://i.pinimg.com/564x/09/4b/77/094b776a96d7e27169b0377cd61de359.jpg)
    };
    &:nth-child(2){
      background-image: url(https://i.pinimg.com/564x/86/7c/03/867c03772b887b32394ea3752c5f4b3d.jpg)
    };
    &:nth-child(3){
      background-image: url(https://images.unsplash.com/photo-1490237014491-822aee911b99?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80)
    };
  }
}

.picture-background-3 {
  background-color: gray;
  color: rgba(white,0.8);
  transition: 0.5s;
  &:hover {
    &:nth-child(1){
      background-image: url(https://images.unsplash.com/photo-1504519560822-bed2d817f87f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)
    };
    &:nth-child(2){
      background-image: url(https://images.unsplash.com/photo-1460999158988-6f0380f81f4d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    };
    &:nth-child(3){
      background-image: url(https://i.pinimg.com/564x/5a/f8/a1/5af8a1ced7d923a07c0ef44655cb1861.jpg)
    }
  }
}

//4x1 card animated
.transparent-box {
  opacity: 0;
  color: white;
  background-color: rgba(black,0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.5s;
  bottom: 0;
  left: 0;
  font-size: 20px;
  transform: translateX(150px);
}
.half-box {
  &:hover {
    .transparent-box {
      opacity: 1;
      transform: translate(0px);
    }
  }
  &:nth-child(1) {
    background-image: url(https://i.pinimg.com/564x/f3/3b/7d/f33b7d461d046605f316d1ca15fb9835.jpg);
  };
  &:nth-child(2) {
    background-image: url(https://i.pinimg.com/564x/70/4a/a2/704aa2bee7a433764f6ce12de89195c6.jpg);
  };
  &:nth-child(3) {
    background-image: url(https://i.pinimg.com/564x/22/ff/68/22ff68ae56a971720678396311ae8956.jpg);
  };
  &:nth-child(4) {
    background-image: url(https://i.pinimg.com/564x/59/9f/e5/599fe5fa384b8ebc88502944cca01b10.jpg)
  };
}
//row 5col 7col box
.bg-image-1 {
  background-image: url(https://images.unsplash.com/photo-1465353471565-b77e538f34c9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
}
.bg-image-2 {
  background-image: url(https://images.unsplash.com/photo-1488887935090-66c640f39ded?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2389&q=80);
}
//car、house、food-box
.icon-scale {
  transition: 1.5s;
}
.transparent-black-box {
  font-weight: bold;
  background-color: rgba(black,0.7);
  color: white;
  transition: 1s;
  &:hover {
    background-color: rgb(214, 189, 79);  
    color: rgba(black,0.6);
    .icon-scale {
      transform: scale(2);
    }
  }
}

.about-us-modal {
  background-color: #363635;
  position: fixed;
  left: 28%;
  color: rgba(248, 244, 244,.9);
  width: 45%;
  height: auto;
  top: 15%;
  opacity: 0;
  transition: 0.4s;
  font-size: 18px;
  border: 2px solid black;
}
.about-us-modal-active {
  z-index: 1000;
  opacity: 1;
}
//HomePage-all-------------------------------end


//ul-padding-0
.padding-0 {
  padding: 0;
}

//cartlist

.price-middle-line {
  text-decoration: line-through;
}
.card-bg-color {
  background-color: rgba(white,0.7);
  border: 3px solid rgba(black,0.8);
}
.cartList {
  transition:0.5s;
  padding: 20px;
    &:hover {
      background-color: rgba(gray,0.2);
      transform: translateY(-5px);
    }
}
.cart-card-border {
  border: 3px solid black;
}

// discount-icon box
@mixin saleIcon($w,$h,$color,$t,$r,$br,$tr) {
  width: $w;
  height: $h;
  border: 1px solid black;
  border-radius: $br;
  background-color: $color;
  position: absolute;
  right: $r;
  top: $t;
  transform: rotate($tr);
}
.icon-box {
  @include saleIcon(100px,25px,rgba(#dd3939,0.9),25px,20px,none,none);
}
// .icon-box-2 {
//   @include saleIcon(50px,50px,rgba(black,0.8),58px,48px,50%);
// }
.shopping-icon-box {
  @include saleIcon(120px,28px,rgba(#dd3939,0.9),5px,-38px,none,40deg);
}
// .shopping-icon-box-2 {
//   @include saleIcon(50px,50px,rgba(rgb(26, 26, 26),1),-10px,-10px,50%);
// }
.position-relative {
  position: relative;
}





//text-set-all---------------start

// text-color
.row1-text-color {
  color: rgba(white,0.8);
}
// text-height
.line-height {
  line-height: 2em;
}
//cursor-pointer
.cursor-pointer {
  cursor: pointer;
}

//text-set-all---------------end



//router fade in scope
//--------------------
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}
//----------------------